* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  cursor: none;
}

.cursor{
  --size: 20px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size)/-2);
  left: calc(var(--size)/-2);
  transform: translate(var(--cursor-x,-100px), var(--cursor-y,-100px));
  pointer-events: none;
  transition: none;
  z-index: 11000;
  will-change: transform;
  & .cursor_inner{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100%;
    transition: .15s ease-in-out;
  }
}


body {
  background-color: #0d151f;
}

header {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 25px;
  background-color: #7a60eb;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

header nav a {
  color: #0d151f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

header nav a:hover {
  color: #60ebde;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #106681;
  border-radius: 7px;
}
