<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/acerca_de.css">
    <title>Acerca De</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="portafolio.html">Portafolio</a>
            <a href="acerca_de.html">Acerca De</a>
            <a href="contacto.html">Contactame</a>
        </nav>
    </header>
    <div class="app">
        <div id="barra-lateral">
            <ul>
                <li><a href="#diseño">Diseño Grafico</a></li>
                <li><a href="#web">Desarrollo web</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
            </ul>
        </div>
        <div id="info">
            <section class="sect">
                <h1 id="diseño">Diseño Grafico</h1>
                <div class="info">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur ducimus ab recusandae tempora atque! Aliquid, corrupti! Numquam, voluptatibus! Nihil quos ullam cupiditate maxime! Placeat dolorem, quo maiores exercitationem dolor quos.
                    Possimus voluptatibus voluptatem rerum labore nulla temporibus eligendi iure. Ut nisi cumque deserunt sunt reprehenderit quos provident in doloribus est aperiam nemo eaque, accusantium, sint id dignissimos laudantium dolore repellendus.
                </div>
            </section>
            <section class="sect">
                <h1 id="web">desarrollo web</h1>
                <div class="web">
                    <h2>Web front-end</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsam a, dolores sint veritatis vitae non repellat sapiente recusandae. Optio doloribus quasi maiores ex sed eum sunt enim quae reiciendis.
                    Tenetur debitis ratione, distinctio, omnis sit sapiente beatae suscipit aperiam incidunt, pariatur repellat fugiat earum! Iusto sed dolor fugit, nesciunt repellendus tempore velit totam facilis. Explicabo odit doloremque provident iste.</p>
                </div>
                <div class="web">
                    <h2>web back-end</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis hic rerum impedit quidem omnis alias quis ratione suscipit harum veniam officiis, provident laborum, nostrum quia ad dignissimos ex nemo ipsam!
                    Culpa, maiores vel, est eaque officiis nemo itaque animi assumenda sequi, nobis eos dolore aspernatur excepturi perferendis libero iure labore deleniti a. Suscipit vero sequi, aliquid repellendus beatae autem placeat?</p>
                </div>
            </section>
            <section class="sect">
                <div class="habilidades">
                    <h3 id="habilidades">habilidades</h3>
                </div>
            </section>
        </div>
    </div>
</body>
</html>