<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/acerca_de.css">
    <title>Acerca De</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="portafolio.html">Portafolio</a>
            <a href="acerca_de.html">Acerca De</a>
            <a href="contacto.html">Contactame</a>
        </nav>
    </header>
    <div class="app">
        <div id="barra-lateral">
            <ul>
                <li><a href="#diseño">Diseño Grafico</a></li>
                <li><a href="#web">Desarrollo web</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
            </ul>
        </div>
        <div id="info">
            <section class="sect">
                <h1 id="diseño">Diseño Grafico</h1>
                <div class="info">
                    <p>Como Técnico en Diseño e Integración de Contenidos Digitales certificado por el Sena, he adquirido habilidades fundamentales en herramientas como Illustrator y Photoshop. Aunque mi formación académica se centró en el uso básico de estas aplicaciones, he ampliado mis conocimientos de forma autodidacta, explorando técnicas avanzadas y mejorando continuamente mi habilidad creativa.</p>
                </div>
            </section>
            <section class="sect">
                <h1 id="web">desarrollo web</h1>
                <div class="info">
                    <p>Con una pasión autodidacta por el desarrollo web durante los últimos 3 años, he dominado tecnologías clave como HTML, CSS y JavaScript. Mi enfoque en el aprendizaje autónomo me ha permitido adquirir un profundo conocimiento en la creación de sitios web interactivos y responsivos. Estoy constantemente actualizando mis habilidades y explorando nuevas tendencias para ofrecer soluciones web innovadoras y de alta calidad.</p>
                </div>
            </section>
            <section class="sect">
                <div class="habilidades">
                    <h3 id="habilidades">habilidades</h3>
                    <div class="icons">
                        <div class="tecno">
                            <img src="../img/icons/icons_Mesa de trabajo 1.svg" alt="" class="icon-img">
                            <div class="porcent">
                                <p>40%</p>
                            </div>
                        </div>
                        <div class="tecno">
                            <img src="../img/icons/icons-02.svg" alt="" class="icon-img">
                            <div class="porcent">
                                <p>60%</p>
                            </div>
                        </div>
                        <div class="tecno">
                            <img src="../img/icons/icons-03.svg" alt="" class="icon-img">
                            <div class="porcent">
                                <p>70%</p>
                            </div>
                        </div>
                        <div class="tecno">
                            <img src="../img/icons/icons-04.svg" alt="" class="icon-img">
                            <div class="porcent">
                                <p>60%</p>
                            </div>
                        </div>
                        <div class="tecno">
                            <img src="../img/icons/icons-05.svg" alt="" class="icon-img">
                            <div class="porcent">
                                <p>60%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>