<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/portafolio.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <title>Proyectos</title>
</head>
<body>
    <section class="sec-01">
        <div class="main-title">
            <h3>Background con photoshop</h3>
        </div>
        <div class="content">
            <div class="image">
                <img src="../img/proyectos/interestelar background.png" alt="">
            </div>
            <div class="block">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias doloremque mollitia quasi provident magnam qui similique perspiciatis, praesentium quas maiores molestiae reiciendis, itaque excepturi voluptatum a dolorem vero nihil numquam.
                Officiis recusandae dolores sapiente, ea aliquid voluptatum corporis nemo eligendi asperiores quidem repellendus libero dignissimos, natus maxime repellat labore non culpa ab quam, molestias neque nesciunt? Qui eaque illum dignissimos.</p>
            </div>
        </div>
    </section>
    <section class="sec-02">
        <div class="main-title">
            <h3>Vectorizacion de personaje</h3>
        </div>
        <div class="content">
            <div class="image">
                <img src="../img/proyectos/jolyne examen_Mesa de trabajo 1.jpg" alt="">
            </div>
            <div class="info">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis temporibus rerum dolor quasi exercitationem excepturi neque veritatis quam incidunt dolores adipisci eos aperiam nemo nisi, blanditiis quibusdam minus sint eius?
                Id impedit amet vero est provident tempora! Explicabo tenetur quo quaerat magnam quia inventore reprehenderit provident cupiditate excepturi culpa, illum saepe fugiat debitis ut enim? Maiores sequi voluptas in voluptatem?</p>
            </div>
        </div>
    </section>
    <section>
        <div class="main-title">
            <h3>Teoria del color</h3>
        </div>
        <div class="slider">
            <img src="../img/proyectos/teoria del color/jolyne cujoh_Mesa de trabajo 1.jpg" alt="">
            <img src="../img/proyectos/teoria del color/jolyne cujoh-02.jpg" alt="">
            <img src="../img/proyectos/teoria del color/jolyne cujoh-03.jpg" alt="">
            <img src="../img/proyectos/teoria del color/jolyne cujoh-04.jpg" alt="">
            <img src="../img/proyectos/teoria del color/jolyne cujoh-05.jpg" alt="">
            <img src="../img/proyectos/teoria del color/jolyne cujoh-06.jpg" alt="">
        </div>
        <div class="content">
            <p class="parraf">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum tenetur laboriosam quisquam maiores voluptates minima vitae, non eligendi eaque facere, adipisci reprehenderit consectetur amet saepe voluptatum totam deleniti, aliquam laborum.
                Quaerat optio pariatur dolorem sed facilis dolor consequatur minima dicta tenetur sunt nam nostrum animi perferendis labore, cum ducimus ipsam aperiam amet quisquam id est voluptatum fugiat? Error, odio magnam?
            </p>
        </div>
    </section>
    <footer class="footer">
        <nav>
            <a href="/">Inicio</a>
            <a href="portafolio.html">Portafolio</a>
            <a href="">Acerca De</a>
            <a href="contacto.html">Contactame</a>
        </nav>
    </footer>
    <script src="../js/portafolio.js"></script>
</body>
</html>